<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smart.test1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    //读取系统信息，包含系统版本等信息，用作统计
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //获取统计数据
    <uses-permission android:name="android.permission.GET_TASKS" />
    //鉴权所需该权限获取进程列表
    <uses-permission android:name="android.permission.CAMERA" />
    //使用步行AR导航，配置Camera权限


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ForgetPassword02Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AddPersonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ClipPictureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AddWorkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.MyInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SetNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ShowPersonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ShowWorkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.MyWorkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SetPersonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activities.SetWorkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 处理上传头像所需provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.smart.test1.activities.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="H0zNILWy9Ez9sW2FuEf8g5ztpvVEWhIR" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


    </application>

</manifest>